@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

[dir="rtl"] {
  text-align: right;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 antialiased;
  }
}
